
body {
  background: $c_beige;
}

.__ts-browser {

  &-controls {
    width: 100%;
    //height: 100%;

    min-height: 75px;
    display: inline-block;

    &-vertical-line{
      display: inline-block;
      width: 1%;
      height: 100%;
    }

    &-container {
      //margin: auto;
      width: 43%;//48px;
      padding: 1%;

      .__ts-browser-controls {

        &.control-icon {
          //width: 48px;
          height: 48px;
          cursor: pointer;

          svg{
            width: 100%;
            height: 100%;
            fill: $c_darkblue;

            &:hover {
              fill: lighten($c_darkblue, 10%);
            }
          }

          &.selected {
            background-color: $c_beige;
            border-radius: 15px;

            svg{
              width: 100%;
              height: 100%;
              fill: $c_green_dark;
            }

            &:hover{
              svg{
                fill: lighten($c_green_dark, 5%);
              }
            }
          }
        }
      }


    }


  }

  &-tooltip {
    width: 300px;
    padding: $s_space;
    box-sizing: border-box;
    &__header {

    }
    &__footer {
      margin-top: 10px;
      border-top: 1px solid $c_darkblue;
    }

  }

  &-title {
    margin: 0 0 $s_space/2 0;
    font-size: 1em;
    text-transform: uppercase;
    padding-bottom: $s_space;

    &--subtitle {
      color: $c_black;
      font-size: 0.9em;

      text-align: center;
      padding-top: 5px;
      padding-bottom: 0;
      border-bottom: 0;
    }
  }

  &-text {

  }

  &-help {
    display: inline-block;

    &-title {
      display: block;
    }

    &-block {
      display: none;
      margin-bottom: 5px;

      &.wrapper {
        padding: 10px 0 10px 0;
        border-top: 1px solid $c_darkblue;
        border-bottom: 1px solid $c_darkblue;
      }

      &.close-icon {
        display: block;
        position: relative;
        top: 2%;
        left: 95%;
        width: 12px;
        height: 12px;
        cursor: pointer;
      }
    }



    &.help-icon {
      margin-left: 1%;
      width: 16px;
      height: 16px;
      cursor: pointer;

      svg{
        width: 100%;
        fill: $c_darkblue;
      }

      &:hover{
        svg{
          fill: lighten($c_darkblue, 20%);
        }
      }
    }
  }

  &__form{
    &-block {
      margin: $s_space 0;
      white-space: nowrap;
      position: relative;
    }
  }

  &__label,
  &__input-holder {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    box-sizing: border-box;
  }

  &-settings {
    display: none;

    .__ts-browser {

      &-title {
        text-align: center;
      }

      &__form-block{
        text-align: center;
      }

      &__label {

      }

      &__input-holder {


      }

      &__select {
        width: 100%;

        &.rounded {
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;
        }

        &.semi-square {
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
        }

        &.green    { background-color: $c_green; }


        &--option {
          option:hover {
            background: $c_green_dark;
          }


          background: $c_green;
          &:hover {
            background: $c_green_dark;
          }
        }
      }
    }


  }

  &-switch {

    &__label {
      display: block;
      width: $s_space * 2.5;
      height: $s_space;
      position: absolute;
      @include centered('y');
      right: 0;
      cursor: pointer;
      color: #fff;

      &:before {
        content: "off";
        display: block;
        font-size: $s_space/2;
        line-height: $s_space;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding-left: $s_space + 3;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: $s_space/2;
        background: $c_red;
        text-transform: uppercase;
      }

      &:after {
        content: '';
        display: block;
        width: $s_space + 2;
        height: $s_space +2;
        background: #fff;
        border-radius: 100%;
        z-index: 2;
        position: absolute;
        left: -2px;
        top: -1px;
        box-shadow: 0 0 15px rgba(0, 0, 0, .15);

      }

      &--anim{
        &:before{
          transition: padding 0.2s ease-in-out, background 0.2s ease;
        }
        &:after{
          transition: left 0.2s ease-in-out;

        }
      }

    }

    &__input {
      position: absolute;
      left: -999999px;

      &:checked {
        & + .__ts-browser-switch__label {

          &:before {
            content: "on";
            padding-left: $s_space / 4;
            background: $c_green_dark;
          }

          &:after{
            left: $s_space + $s_space/2;
          }
        }
      }
    }
  }



  &-stat{

    display: none;

    &--visible{
      display: block;
    }
    &__header{
      font-size: 0.9em;
      text-transform: uppercase;
    }

    &__table{
      width: 100%;
      margin-top: $s_space /2;

      border: solid 1px #DDEEEE;
      border-collapse: collapse;
      border-spacing: 0;

      tr{

        background: lighten($c_gray, 25%);

        &:nth-child(odd){
            background: lighten($c_beige, 8%);


        }

        tbody tr:last-child td:first-child {
          border-radius: 0 0 0 10px;
        }
        tbody tr:last-child td:last-child {
          border-radius: 0 0 10px 0;
        }
      }
      thead{
        tr{
          background: $c_green_dark !important;
          th{
            color: #fff;
            font-weight: normal;
          }
        }
      }

      &__word{
        width: 60%;
        text-align: left;
        vertical-align: middle;
        padding: 3px 10px;
      }

      &__counter{
        text-align: center;
        vertical-align: middle;
        padding: 3px 10px;
        width: 20%;
      }
    }
  }

}

/*****************************************
*
*               buttons
*
*****************************************/

.__ts-btn {
  @extend %reset;
  color: #fff;
  border-radius: $s_radius;
  overflow: hidden;
  font-size: 1.2em;
  padding: 2px $s_space;
  cursor: pointer;
  background: $c_red;

  &:hover {
    opacity: .9;
  }
}