body {
  font-family: Arial, "Century Gothic", sans-serif; }

.searchtext {
  padding: 10px; }

.hidden {
  display: none; }

.popover__tooltip {
  background-color: #CEFFCE;
  color: #555;
  max-width: none; }

.popover {
  max-width: none;
  max-height: 40%;
  min-width: 250px;
  min-height: 250px;
  padding: 10px;
  height: 15%;
  width: 15%;
  background: #C6E7CE;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-property: min-width, min-height, height, width; }
  .popover.arrow {
    transition-duration: 0.3s;
    transition-timing-function: linear;
    transition-property: left, right, top, bottom; }
  .popover.preview {
    max-width: none;
    max-height: 40%;
    min-width: 250px;
    min-height: 250px;
    padding: 10px;
    height: 15%;
    width: 15%;
    background: #C6E7CE; }
  .popover.expanded {
    max-width: none;
    max-height: 40%;
    min-width: 450px;
    min-height: 450px;
    padding: 10px;
    height: 35%;
    width: 25%;
    background: #C6E7CE; }
  .popover .arrow {
    border-bottom-color: #C6E7CE; }
    .popover .arrow:after {
      top: 1px;
      margin-left: -10px;
      border-bottom-color: #C6E7CE !important;
      border-top-width: 0;
      content: " "; }
  .popover-title {
    height: 10%;
    background: #84CF96;
    border-radius: 5px;
    border-bottom: none; }
  .popover-content {
    width: 100%;
    height: 90%;
    padding: 1%;
    overflow: hidden;
    color: black !important; }
    .popover-content__wrapper .popover--data {
      display: block;
      position: relative;
      height: 100%; }
      .popover-content__wrapper .popover--data__ta-wrapper {
        display: block;
        height: 55%;
        margin-bottom: 5px; }
        .popover-content__wrapper .popover--data__ta-wrapper .popover--data__translation {
          width: 60%;
          float: left; }
          .popover-content__wrapper .popover--data__ta-wrapper .popover--data__translation--label {
            font-weight: bold; }
        .popover-content__wrapper .popover--data__ta-wrapper .popover--data__association {
          width: 40%;
          float: right;
          text-align: center; }
          .popover-content__wrapper .popover--data__ta-wrapper .popover--data__association .data__association--label {
            font-weight: bold;
            width: 100%;
            display: inline-block;
            vertical-align: top;
            height: 10%; }
          .popover-content__wrapper .popover--data__ta-wrapper .popover--data__association .data__association--image {
            width: 100%;
            display: inline-block;
            vertical-align: bottom;
            height: 90%; }
            .popover-content__wrapper .popover--data__ta-wrapper .popover--data__association .data__association--image img {
              width: 100%;
              height: 100%; }
      .popover-content__wrapper .popover--data__example {
        height: 15%;
        width: 100%;
        margin-bottom: 5px; }
        .popover-content__wrapper .popover--data__example--label {
          font-weight: bold; }
      .popover-content__wrapper .popover--data__audio {
        height: 10%;
        width: 100%;
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 1%; }
        .popover-content__wrapper .popover--data__audio .data__audio {
          height: 100%; }
          .popover-content__wrapper .popover--data__audio .data__audio--label {
            font-weight: bold;
            height: 100%;
            float: left;
            width: 30%;
            margin-right: 5%; }
          .popover-content__wrapper .popover--data__audio .data__audio--cont {
            height: 100%;
            width: 65%;
            float: right; }
            .popover-content__wrapper .popover--data__audio .data__audio--cont .audio--control {
              width: 100%; }
  .popover--header {
    height: 100%;
    display: inline-block;
    vertical-align: middle; }
    .popover--header__label {
      height: 100%;
      margin: auto;
      text-transform: uppercase;
      color: whitesmoke;
      font-size: 1.25em;
      line-height: 1;
      font-weight: 900; }
    .popover--header__close {
      position: absolute;
      right: 3%;
      top: 3%;
      color: #009A31;
      font-size: 14px;
      cursor: pointer; }

.fa-1 {
  font-size: 1em !important; }

.fa-2 {
  font-size: 2em !important; }

.fa-3 {
  font-size: 2.5em !important; }

.shadow {
  position: fixed;
  top: 0;
  width: 30%;
  height: 100%;
  pointer-events: none;
  z-index: 10; }
  .shadow--left {
    left: -30%;
    box-shadow: 124px 0 193px #000; }
  .shadow--right {
    right: -30%;
    box-shadow: -124px 0 193px #000; }

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  width: 100%;
  height: 100%;
  box-shadow: none;
  background: transparent; }

.popover--modal {
  z-index: 102; }

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 500px;
  background: #fff;
  transform: translate(-50%, -50%);
  border: 1px solid #000;
  border-radius: 7px;
  box-sizing: border-box;
  padding: 30px;
  z-index: 102; }
  .modal__offer-type {
    text-transform: uppercase;
    font-weight: bold;
    color: #000; }
  .modal__title {
    text-transform: uppercase;
    color: #c60000;
    line-height: 1.5;
    font-weight: 900; }
  .modal__text {
    color: #5a5a5a; }

/*# sourceMappingURL=template.css.map */
